
@{
    Layout = null;
    }

@model List<Rejime.Models.Menu>
<nav class=" navbar navbar-expand-md navbar-light  bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-header order-md-last">
        <a class="navbar-brand " href="#"> <span class="text-success">سلامت </span><span class="text-danger">یار </span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item  ">
                <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">ورود&nbsp;<span class="fa fa-sign-in"></span></button>
            </li>

            <li class="nav-item">
                <span style="color: #00a99d;" class="btn bg-transparent" data-toggle="collapse" data-target="#searching"><i class="fa fa-search"></i></span>
            </li>
        </ul>

        <ul class="navbar-nav   flex-row-reverse ml-auto">
            @foreach (var Baseitem in Model)
            {
                if (Baseitem.Parent_id == 0)
                {
                    var Submenu = Model.Where(sub => sub.Parent_id == Baseitem.id).ToList();
                    if (Submenu != null && Submenu.Count > 0)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link " href="#" data-toggle="dropdown">
                                <span class="@Baseitem.Icon" style="font-size:13px"></span> @Baseitem.Name
                            </a>
                            <ul class="dropdown-menu bg-light text-right">
                                @foreach (var Subitem in Submenu)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Subitem.Link"> @Subitem.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Baseitem.Link"><span class="@Baseitem.Icon"></span>@Baseitem.Name</a>
                        </li>
                    }
                }

            }

        </ul>

    </div>
</nav>

@Html.Partial("_RegisterLogin", new Rejime.Models.User())

