@model List<Rejime.Models.News>

@foreach (var item in Model)
{
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 news-space" id="news-dir">
            <a><i class="fa fa-globe news-sign"></i>@item.Keyword</a>
            <div class="row">
                <p class="col-lg-12 col-md-12 col-6"><i class="fa fa-user news-sign"></i>@item.Author<span class="lnr lnr-user"></span></p>
                <p class="col-lg-12 col-md-12 col-6"><i class="fa fa-calendar news-sign"></i>@item.InsertDate<span class="lnr lnr-calendar-full"></span></p>
                <p class="col-lg-12 col-md-12 col-6"><i class="fa fa-eye news-sign"></i>@item.VisitCount<span class="lnr lnr-eye"></span></p>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 news-space" id="news-text">
            <div class="feature-img">
                <img class="img-fluid rounded" src="@Href(item.ImageUrl)" />
            </div>
            <p>
                <h3 class="news-titr">@item.Title</h3>
            </p>
            <p class="news-font">
                @item.Desc.Substring(0, 200)...
            </p>
            <a href="/News/Details/@item.ID" id="more-btn" class="btn">بیشتر بدانید</a>
        </div>
    </div>
}


