@model Rejime.Models.User
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">

                <div class="form">
                    <div class="row">
                        <button type="button" class="close" data-dismiss="modal" style="margin-left: 95%; ">&times;</button>
                    </div>
                    <ul class="tab-group">
                        <li class="tab "><a href="#signup">ثبت نام</a></li>
                        <li class="tab active"><a href="#login">ورود  </a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="login">
                            <h1>ورود به حساب کاربری</h1>

                            <form action="/" method="post">
                                <div class="field-wrap">
                                    <label>
                                        نام کاربری<span class="req">*</span>
                                    </label>
                                    <input type="email" required autocomplete="off" />
                                </div>

                                <div class="field-wrap">
                                    <label>
                                        کلمه عبور<span class="req">*</span>
                                    </label>
                                    <input type="password" required autocomplete="off" />
                                </div>

                                <p class="forgot"><a href="#">پسوردم را فراموش کردم</a></p>

                                <button class="button button-block"> ورود</button>

                            </form>

                        </div>
                        @*@using (Html.BeginForm("SendAuthenticationLink", "Account", FormMethod.Post, new { autocomplete="off"}))
            {*@
                        @Html.AntiForgeryToken()
                        <div id="signup">
                            <h1>ثبت نام</h1>

                            <form autocomplete="off" id="Register">
                                <div class="top-row">
                                    <div class="field-wrap">
                                        @Html.LabelFor(Model => Model.FirstName, "نام*")
                                        @Html.TextBoxFor(model => model.FirstName)
                                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "Validate" })
                                    </div>

                                    <div class="field-wrap">
                                        @Html.LabelFor(Model => Model.LastName, "نام خانوادگی*")
                                        @Html.TextBoxFor(model => model.LastName)
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "Validate" })
                                    </div>
                                </div>

                                <div class="field-wrap">
                                    @Html.LabelFor(Model => Model.Email, "ایمیل*")
                                    @Html.TextBoxFor(model => model.Email)
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "Validate" })
                                </div>
                                <button class="button button-block" onClick="Operation.SendData('Register','/Account/SendAuthenticationLink')">تایید</button>
                            </form>

                        </div>

                        @*}*@

                    </div>
                    <!-- tab-content -->

                </div>
            </div>


        </div>
    </div>

   <!-- /form -->
    @*<div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>*@
</div>
        <script>
            $('#cclose').click(function () {
                window.parent.jQuery('#exampleModal').dialog('close');
            });
        </script>
